:root {
    --main-radius: 5px;
    --main-padding: 5px;
  }
  
  body {
    font-family: "Inter", sans-serif;
  }
  
  .container {
    display: grid;
    /*width: 180vh;*/
    height: 180vh;
    grid-template-columns: 0.8fr 1.2fr 1.2fr 0.8fr;
    grid-template-rows: 0.1fr 0.1fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
    grid-template-areas:
      "menu header header content1"
      "menu nav nav content1"
      "menu ex1 ex1 content1"
      "menu ex2 ex2 content1"
      "menu ex3 ex3 content1"
      "menu ex4 ex4 content1"
      "menu ex5 ex5 content1"
      "menu ex6 ex6 content1"
      "menu ex7 ex7 content1"
      "menu ex8 ex8 content1"
     
      
      /*"footer footer footer"*/;
    grid-gap: 0.2rem;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    color: #004d40;
    /*text-align: center;*/
  }
  .bakgroundimage {
      min-height: 100%;
      background-image: url(flag2.jpg);
      background-position:center center;
      background-repeat:repeat;
      background-size:cover;

  }
  header{
    background: #333;
    grid-area: header;
    color: white;
    text-align: center ;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  nav {
    /*background: #a7ffeb;*/
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  .nav {
    /*background: #a7ffeb;*/
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  #ex1{
    background-color: white;
    grid-area: ex1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
   /* float: left;
   /* border: 0.5;
    overflow-x: scroll;*/
  }

  img{
    /*width: 30%;*/
    width: 200px;
    height: 170px;
    border: "0.1";
    float: left;

  }
  #ex2{
    background-color: white;
    grid-area: ex2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);

  }
  #ex3{
    background-color: white;
    grid-area: ex3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);

  }
  #ex4{
    background-color: white;
    grid-area: ex4;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);

  }
  #ex5{
    background-color: white;
    grid-area: ex5 ;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    overflow-x: scroll ;
  
    min-height: 220px;
   
  
    
    /*overflow: auto;
     white-space: nowrap;
   
     display: inline-block;
     
  
  
    /*overflow: auto;
    direction: rtl;
    float: left;
    display: inline-block;
    white-space: nowrap;
    /*
    width: 100%;
    height:100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;*/
  
   

  }
  #ex6{
    background-color: white;
    grid-area: ex6;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
   

  }
  #ex7{
    background-color: white;
    grid-area: ex7;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);

  }
  #ex8{
    background-color: white;
    grid-area: ex8;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);

  }
  #ex9{
    background-color: white;
    grid-area: ex9;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);

  }
  
  #menu {
    /*background: #18ffff;*/
    grid-area: menu;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  #content1 {
    /*background: #6fffd2;*/
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  /*footer {
    background: #1de9b6;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }*/
  
  a {
    text-align: center;
    display: block;
    font-family: inherit;
    text-decoration: none;
    font-weight: bold;
    margin: 1rem;
  }
  
  @media only screen and (max-width: 550px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.4fr 0.4fr 0.4fr 2.2fr 1.2fr ;
      grid-template-areas:
       "header"
        "nav"
        "menu"
        "main"
        "content1"
        /*"footer"*/;
    }
  }/*
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn  {
    background-color: #111;
  }*/
  /*
  li.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {background-color: #f1f1f1;}

    .dropdown:hover .dropdown-content {
        display: block;
    }*/
  
  .active {
    background-color: #d3120c;
  }
  @media only screen and (max-width: 550px) {
    nav * {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas:
       "Giriş"
        "Seviyeler"
        "Kelimeler"
        "Hakkında";
        /*"content1"*/
        /*"footer"*/
    }
}
.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16PX;  
    text-align: center;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    font-weight: bold;
    margin: 1rem;
    
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color:#d3120c;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  * {box-sizing: border-box;}
  body {font-family: Verdana, sans-serif;}
  .mySlides {display: none;}
  img {vertical-align: middle;}
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #d3120c;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
  